URxvt.saveLines: 12000
URxvt.scrollBar: false
URxvt.secondaryWheel: true

URxvt.modifier: mod1

! --- special colors ---
*background: #0c0c0c
*foreground: #b5b5b5

! --- standard colors ---
! black
*color0: #0c0c0c
! bright_black
*color8: #2e2e2e
! red
*color1: #9b3d30
! bright_red
*color9: #ca6153
! green
*color2: #309b3d
! bright_green
*color10: #53ca61
! yellow
*color3: #8f9b30
! bright_yellow
*color11: #bcca53
! blue
*color4: #3d309b
! bright_blue
*color12: #6153ca
! magenta
*color5: #9b308f
! bright_magenta
*color13: #ca53bc
! cyan
*color6: #308f9b
! bright_cyan
*color14: #53bcca
! white
*color7: #9a9a9a
! bright_white
*color15: #b5b5b5

URxvt.scrollWithBuffer: false
URxvt.scrollTtyKeypress: false
URxvt.scrollTtyOutput: false

URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true

! Font stuff
URxvt.letterSpace: 0
URxvt.font: xft:DejaVu Sans Mono:size=9
